/*--------------------COMMON STYLES--------------------*/
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body, html {
    background-color: white;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Night Bits';
    src: url("../fonts/nightbits-webfont.woff2") format('woff2'),
    url("../fonts/nightbits-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

input {
    height: 40px;
    width: 88px;
    font-size: 32px;
}

/*--------------------SMALL SCREEN--------------------*/
.container {
    display: grid;
    grid-template-areas: "headerbox-grid" "mainbox-grid" "footerbox-grid";
    width: max-content;
}

.headerbox {
    grid-area: headerbox-grid;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-areas: "headerbox__logo-grid headerbox__title-grid headerbox__subtitle-grid ";
    justify-content: center;
    height: min-content;
    padding-top: 2rem;
}

.headerbox__logo {
    grid-area: headerbox__logo-grid;
    grid-row: 1 / 3;
    grid-column: 1;
    height: 6rem;
    padding-right: 20px;
}

.headerbox__title {
    grid-area: headerbox__title-grid;
    grid-row: 1 / 2;
    grid-column: 2;
    height: 3rem;
    font-family: 'BioRhyme', serif;
    font-size: 2.5rem;
}

.headerbox__subtitle {
    grid-area: headerbox__subtitle-grid;
    grid-row: 2 / 3;
    grid-column: 2;
    height: 3rem;
    font-family: 'BioRhyme', serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: rgba(240, 240, 240, 1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.headerbox__float-left {
    float: left;
}

.mainbox {
    grid-area: mainbox-grid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainbox__hr {
    border: 0;
    height: 2px;
    width: 80%;
    background-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main * {
    margin: 8px 0;
}

.footerbox {
    grid-area: footerbox-grid;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
}

.main__button {
    position: relative;
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    background: orangered;
    height: 64px;
    outline: none;
    border: none;
    padding: 16px 24px;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
}

.main__button:hover {
    background: hsl(16, 100%, 45%)
}

.main__button:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.main__button:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.main__button:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}

.main__button::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: 0;
    left: -6px;
}

.main__button::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}


/*--------------------WIDE SCREEN--------------------*/
@media screen and (min-width: 769px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: ". . ." ". main . " ". footer .";
    }

    body {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .main {
        background-color: rgba(200, 200, 200, 0.8);
    }

    .footer {
        flex-flow: row wrap;
    }

}

