* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body, html {
    background-color: white;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Night Bits';
    src: url("../fonts/nightbits-webfont.woff2") format('woff2'),
    url("../fonts/nightbits-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Night Bits', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "main main main" "main main main" "footer footer footer";
    height: 100%;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main * {
    margin: 8px 0;
}

input {
    height: 40px;
    width: 88px;
    font-size: 32px;
}

.main__button {
    position: relative;
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    background: orangered;
    height: 64px;
    outline: none;
    border: none;
    padding: 16px 24px;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
}

.main__button:hover {
    background: hsl(16, 100%, 45%)
}

.main__button:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.main__button:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.main__button:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}

.main__button::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: 0;
    left: -6px;
}

.main__button::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}


footer {
    grid-area: footer;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
}


@media screen and (min-width: 769px) {
    body {
        background-image: url("../img/prl.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .container {
        grid-template-areas: ". . ." ". main ." ". footer .";
    }

    .main {
        background-color: rgb(200, 200, 200, 0.8);
    }

    .footer {
        flex-flow: row wrap;
    }

}
