/*--------------------COMMON STYLES--------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Night Bits';
    src: url("../fonts/nightbits-webfont.woff2") format('woff2'),
    url("../fonts/nightbits-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}


/*--------------------SMALL SCREEN--------------------*/
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.headerbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.headerbox__logo {
    width: 35%;
    height: auto;
    margin: auto;
    padding: 5vw;
}

.headerbox__logo img {
    width: 100%;
    max-width: 300px;
}

.headerbox__titles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
    height: fit-content;
    padding-top: 8vw;
}

.headerbox__title {
    font-size: 8vw;
    font-family: 'BioRhyme', serif;

}

.headerbox__subtitle {
    font-size: 5vw;
    font-family: 'BioRhyme', serif;
    letter-spacing: 1.8vw;
    color: rgba(240, 240, 240, 1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.mainbox {
    min-height: 50vh;
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.mainbox__hr {
    border: 0;
    height: 2px;
    width: 80vw;
    margin: 1px auto;
    background-color: black;
}

input {
    height: 40px;
    width: 88px;
    font-size: 32px;
    border: solid 1px #000;
}

/*BUTTON*/
.main__button {
    position: relative;
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    background: orangered;
    height: 64px;
    outline: none;
    border: none;
    padding: 16px 24px;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
}

.main__button:hover {
    background: hsl(16, 100%, 45%)
}

.main__button:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.main__button:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.main__button:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}

.main__button::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: 0;
    left: -6px;
}

.main__button::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}

.footerbox {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin-top: 8px;
}


.footerbox__programists {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    padding-top: 8vw;
}

.footerbox__rights {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    padding-top: 8vw;
}
